@font-face {
  font-family: 'Univers LT 45 Light Bold';
  src: url('/fonts/Univers LT 45 Light Bold/Univers LT 45 Light Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Univers LT 45 Light Bold Italic';
  src: url('/fonts/Univers LT 45 Light Bold Italic/Univers LT 45 Light Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univers LT 45 Light Regular';
  src: url('/fonts/Univers LT 45 Light Regular/Univers LT 45 Light Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
    font-family: 'Univers LT 45 Light Regular', sans-serif;
  }